@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.brand-logo {
  font-family: "Grand Hotel", cursive;
}

.auth {
  margin-top: 50px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input:focus {
  border-bottom: 1px solid rgb(31, 42, 192) !important;
  box-shadow: 0 1px 0 0 rgb(31, 42, 192) !important;
}

.auth-card h5 {
  color: #000 !important;
}
